{% extends 'base.html' %}


{% block content %}
<div class="container mt-5"> 
    <h1 class="display-4 text-center">Resultados de la evaluación del video con el método NIOSH</h1>
    <!--<p class="text-center text-muted">Usuario: <strong>{{ user.username }}</strong></p> -->
    <p class="text-center text-muted">Empleado: <strong>{{ employe.name }} {{ employe.last_name }}</strong></p>

    <div class="card mt-4 shadow">
        <div class="card-body">
            <h3 class="card-title">Detalles de la Evaluación</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">RWL (Peso Límite Recomendado): <strong>{{ scores.RWL }} kg</strong></li>
                <li class="list-group-item">Índice de Levantamiento (LI): <strong>{{ scores.LI }}</strong></li>
                <li class="list-group-item">Nivel de Riesgo: <strong>{{ scores.risk_level }}</strong></li>
                <li class="list-group-item">Peso de la Carga: <strong>{{ scores.load_weight }} kg</strong></li>
                <li class="list-group-item">Frecuencia: <strong>{{ scores.frequency }} levantamientos/minuto</strong></li>
                <li class="list-group-item">Distancia Horizontal: <strong>{{ scores.horizontal_distance }} m</strong></li>
                <li class="list-group-item">Distancia Vertical: <strong>{{ scores.vertical_distance }} m</strong></li>
                <li class="list-group-item">Ángulo de Asimetría: <strong>{{ scores.asymmetry_angle }}°</strong></li>
                <li class="list-group-item">Desplazamiento Vertical: <strong>{{ scores.displacement_distance }} m</strong></li>
                <li class="list-group-item">Calidad del Agarre: <strong>{{ scores.grip_quality }}</strong></li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ url_for('evaluate.niosh_plan', user_id=user.user_id, employee_id=employe.employe_id) }}" class="btn btn-primary">Generar Plan de Mejora</a>
        <a href="{{ url_for('auth.upload', id=user.user_id) }}" class="btn btn-secondary">Volver a subir otro video</a>
    </div>
</div>
{% endblock %}