{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5"> 
    <h1 class="display-4 text-center">Resultados de la Evaluación REBA</h1>
    <p class="text-center text-muted">Usuario: <strong>{{ user.username }}</strong></p>

    <div class="card mt-4 shadow">
        <div class="card-body">
            <h3 class="card-title">Grupo A - Posturas de espalda, cuello y piernas</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Código de postura de tronco:</strong> {{ group_a_codes.trunk_score }}</li>
                <li class="list-group-item"><strong>Código de postura de cuello:</strong> {{ group_a_codes.neck_score }}</li>
                <li class="list-group-item"><strong>Código de postura de piernas:</strong> {{ group_a_codes.leg_score }}</li>
                <li class="list-group-item"><strong>Puntaje del Grupo A:</strong> {{ puntuacion_grupo_A }}</li>
            </ul>

            <h3 class="card-title mt-4">Grupo B - Posturas de brazos, antebrazos y muñeca</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Código de postura de brazos:</strong> {{ group_b_codes.arm_score }}</li>
                <li class="list-group-item"><strong>Código de postura de antebrazo:</strong> {{ group_b_codes.forearm_score }}</li>
                <li class="list-group-item"><strong>Código de postura de muñeca:</strong> {{ group_b_codes.wrist_score }}</li>
                <li class="list-group-item"><strong>Puntaje del Grupo B:</strong> {{ puntuacion_grupo_B }}</li>
            </ul>
            
            <h3 class="card-title mt-4">Puntaje Total</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Puntaje Total:</strong> {{ puntuacion_final }}</li>
                <li class="list-group-item"><strong>Nivel de Riesgo:</strong> {{ risk_level }}</li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ url_for('evaluate.reba_plan', id=user.user_id) }}" class="btn btn-primary">Generar Plan de Mejora</a>
        <a href="{{ url_for('auth.upload', id=user.user_id) }}" class="btn btn-secondary">Volver a subir otro video</a>
    </div>
</div>
{% endblock %}
